<!DOCTYPE html>
<html>
  <head>
    <title>WorkosTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white">
    <%= render partial: 'shared/nav' %>
    <% flash.each do |type, msg| %>
      <%= render 'shared/flash', type: type, msg: msg %>
    <% end %>
    <main class="px-4 lg:px-10 flex h-screen ">
      <%= yield %>
    </main>
  </body>
</html>
